# Linear Programming (LP) example

The following example reproduces the network revenue managment optimization problem the article "Airline network revenue management: Considerations for implementation" by Lapp et al. (2014), published in _Journal of Revenue and Pricing Management_ (http://link.springer.com/article/10.1057/rpm.2013.33).

In [1]:
import sys
from itertools import product

import pandas as pd
import numpy as np

sys.path.append('../')
from revpy import lp_solve

## 1) Define example data

In [2]:
class_names = ['H', 'N']
trip_names = ['SFO_BOS', 'SFO_CLT', 'CLT_BOS', 'ABE_BOS', 'ABE_CLT']
leg_names = ['SFO_CLT', 'CLT_BOS', 'ABE_CLT']

# fares and demands for each itinerary
fares = np.array([[800, 500, 580, 350, 120],   # class H
                  [450, 380, 400, 250, 100]])  # class N

demands =  np.array([[6, 4, 5, 4, 3],      # class H
                     [15, 14, 8, 11, 5]])  # class N

# capacities for the 3 legs
cap = [10, 10, 8] # SFO_CLT, CLT_BOS, ABE_CLT

# incidence matrix defining the network (size: #trips * #legs)
A = np.array([[1, 1, 0], # SFO_BOS
              [1, 0, 0], # SFO_CLT
              [0, 1, 0], # ...
              [0, 1, 1],
              [0, 0, 1]])

In [3]:
# converty numpy arrays to pandas data frames
fares = pd.DataFrame(fares, index=class_names, columns=trip_names)
demands = pd.DataFrame(demands, index=class_names, columns=trip_names)
A = pd.DataFrame(A, index=trip_names, columns=leg_names)

In [4]:
fares

   SFO_BOS  SFO_CLT  CLT_BOS  ABE_BOS  ABE_CLT
H      800      500      580      350      120
N      450      380      400      250      100

In [5]:
demands

   SFO_BOS  SFO_CLT  CLT_BOS  ABE_BOS  ABE_CLT
H        6        4        5        4        3
N       15       14        8       11        5

In [6]:
A

         SFO_CLT  CLT_BOS  ABE_CLT
SFO_BOS        1        1        0
SFO_CLT        1        0        0
CLT_BOS        0        1        0
ABE_BOS        0        1        1
ABE_CLT        0        0        1

## 2. Solve the LP

In [7]:
allocation, bid_prices = lp_solve.solve_network_lp_df(fares, demands, cap, A)

In [8]:
allocation

           H    N
SFO_BOS  5.0  0.0
SFO_CLT  4.0  1.0
CLT_BOS  5.0  0.0
ABE_BOS  0.0  0.0
ABE_CLT  3.0  5.0

In [9]:
bid_prices

         bid_price
SFO_CLT      380.0
CLT_BOS      420.0
ABE_CLT       -0.0